<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EMPLACEMENT-Gptc_Kasaragod</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@500&family=Quicksand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <title>Home page</title>
  <style>
    .view{
        margin-top: 90px;
        height: 70vh;
       
    }
  </style>
</head>

<body>

  {{!-- nav bar veenam --}}
  <nav class="navbar navbar-expand-lg fixed-top navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand " href="/">EMPLACEMENT</a>
      
  </nav>
  </div>
  


{{#if students}}
<table class="table view">
  <thead>
    <tr>
      <th scope="col">Reg No</th>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      <th scope="col">branch</th>
      <th scope="col">phone</th>
      <th scope="col">CGPA</th>

    </tr>
  </thead>
  <tbody>
    {{#each students}}
    <tr>
      <td>{{this.rno}}</td>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.branch}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.cgpa}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  <section class="view">
    <h1>Admin not provid user details ! please Contact Admin(9995559990)</h1>
  </section>

{{/if}}
  <footer class="new_footer_area bg_color">
    <div class="new_footer_top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
              style="visibility: visible;margin-bottom:15px; animation-delay: 0.2s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
              <p>we need your valueable feedback</p>
              <form action="mailto:mail@gpckasaragod.ac.in" class="f_subscribe_two mailchimp" method="post"
                novalidate="true" _lpchecked="1">
                <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                <button class="btn btn_get btn_get_two" type="submit">Write us</button>

                <p class="mchimp-errmessage" style="display: none;"></p>
                <p class="mchimp-sucmessage" style="display: none;"></p>

              </form>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
              style=" visibility: visible;margin-bottom:15px; animation-delay: 0.4s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Quick links</h3>
              <ul class="list-unstyled f_list">
                <li><a href="http://gpckasaragod.ac.in/">GPC Kasaragod</a></li>
                <li><a href="https://tekerala.org/">SBTE Kerala</a></li>
                <li><a href="http://www.dtekerala.gov.in/index.php/en/">DTE Kerala</a></li>
                <li><a href="ttps://www.sitttrkerala.ac.in/">SITTTR Kerala</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
              style="visibility: visible;margin-bottom:15px; animation-delay: 0.6s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Contact us</h3>
              <ul class="list-unstyled f_list">
                <li><a href="http://gpckasaragod.ac.in/">Government Polytechnic College Kasaragod, 671320</a></li><br>
                <li><a href="mailto:principalksgd@gmail.com"> mail@gpckasaragod.ac.in, principalksgd@gmail.com</a></li>
                <br>
                <li><a href="tel:4672234020">04672-234020</a></li>

              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
              style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
              <div class="f_social_icon">
                <a href="https://www.facebook.com/gpcksgd/"><img src="images/fb.png" width="34px" height="34px"></a>
                <a href="https://www.instagram.com/gptc_ksd/"><img src="images/in.png" width="30px" height="30px"></a>
                <a href="https://twitter.com/GpcKasaragod"><img src="images/twi.png" width="34px" height="34px"></a>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bg">
        <div class="footer_bg_one"></div>
        <div class="footer_bg_two"></div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-sm-7">
            <p class="mb-0 f_400">©EMPLACEMENT. 2022 All rights reserved.</p>
          </div>
          <div class="col-lg-6 col-sm-5 text-right">
            <p>Made by <i class="icon_heart"></i> - <a href="#">MAAMSS 2K19-22</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>





</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


<!-- Optional JavaScript; choose one of the two! -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!--footer start-->

</html>